@import url("../css/reset.css");
body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 94px;
  padding: 28px 38px;
  text-align: center;
  position: fixed;
}
header .menu-trigger {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
header .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
header .menu-trigger span:nth-of-type(1) {
  top: 0;
}
header .menu-trigger span:nth-of-type(2) {
  top: 9px;
}
header .menu-trigger span:nth-of-type(3) {
  bottom: 11px;
}
header .menu-trigger:hover span:nth-of-type(1) {
  width: 70%;
  left: 40%;
  margin-top: 2px;
  transform: rotate(45deg);
}
header .menu-trigger:hover span:nth-of-type(3) {
  width: 70%;
  left: 40%;
  margin-bottom: 2px;
  transform: rotate(-45deg);
}
header .menu_bar {
  display: none;
  position: absolute;
  position: fixed;
  text-align: start;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 99;
}
header .menu_bar nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding-left: 3%;
  top: 0;
  left: 0;
  width: 440px;
  height: 100%;
  background-color: #fff;
}
header .menu_bar nav .log {
  padding-top: 15%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
header .menu_bar nav .log span {
  display: inline-block;
  height: 12px;
  border: 1px solid black;
  margin: 0 10px;
}
header .menu_bar nav .log a {
  text-decoration: none;
  color: #000;
}
header .menu_bar nav .log a img {
  width: 13px;
  height: 17px;
  margin: 0 5px;
}
header .menu_bar nav .menu-trigger_2 {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  top: -34%;
  left: 87%;
}
header .menu_bar nav .menu-trigger_2 span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: 0.3s;
}
header .menu_bar nav .menu-trigger_2 span:nth-of-type(1) {
  top: 0;
}
header .menu_bar nav .menu-trigger_2 span:nth-of-type(2) {
  top: 9px;
}
header .menu_bar nav .menu-trigger_2 span:nth-of-type(3) {
  bottom: 11px;
}
header .menu_bar nav .menu-trigger_2:hover span:nth-of-type(1) {
  width: 70%;
  left: -10%;
  margin-top: 2px;
  transform: rotate(-45deg);
}
header .menu_bar nav .menu-trigger_2:hover span:nth-of-type(3) {
  width: 70%;
  left: -10%;
  margin-bottom: 2px;
  transform: rotate(45deg);
}
header .menu_bar ul {
  padding: 0;
  margin-top: -130%;
}
header .menu_bar ul li {
  margin-bottom: 10%;
}
header .menu_bar ul li a {
  text-decoration-line: none;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
header .menu_bar img {
  margin-bottom: 15%;
  margin-left: 13%;
  width: 220px;
  height: 144.7px;
}
header h1 {
  margin-left: 6.5%;
}
header h1 a img {
  width: 198px;
  height: 46px;
}
header .ic a img {
  width: 25px;
  height: 25px;
  margin-left: 18px;
}

main .index .spot_1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}
main .index .spot_1 img {
  width: 100%;
}
main .index .spot_1 div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 25.1%;
  left: 10.7%;
  width: 560px;
  height: 500px;
  margin-bottom: 300px;
  overflow: hidden;
}
main .index .spot_1 div p {
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid #fff;
  width: 326px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.46);
  color: #ffffff;
  transform: translateY(500%);
  animation: title_1 1s forwards;
}
@keyframes title_1 {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .index .spot_1 div h2 {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;
  text-align: end;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.46);
  transform: translateY(300%);
  animation: title_2 1s forwards;
}
@keyframes title_2 {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0%);
  }
}
main .index .spot_2 {
  position: absolute;
  top: 0;
  left: 0;
}
main .index .spot_2 figure {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  animation: fadein 7s infinite;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
main .index .spot_2 figure img {
  width: 100%;
}
main .index .spot_2 figure div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  top: 25.1%;
  left: 10.7%;
  width: 560px;
  height: 190px;
}
main .index .spot_2 figure div p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
  border-bottom: 1px solid #fff;
  width: 333px;
  padding-bottom: 5px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.46);
  color: #ffffff;
  transition: 1s;
}
main .index .spot_2 figure div h2 {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
  line-height: 70px;
  color: #ffffff;
  text-align: end;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.46);
  transition: 1s;
}
main .index .bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 90.5%;
  left: 0;
}
main .index .bottom div {
  padding-right: 43.5%;
  z-index: 99;
}
main .index .bottom div span {
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 55px;
  height: 5px;
  display: inline-block;
  cursor: pointer;
}
main .index .bottom div span:hover {
  margin-left: 8px;
  background-color: #fff;
  width: 55px;
  height: 5px;
  display: inline-block;
  cursor: pointer;
}
main .main_mat {
  width: 100%;
  height: 100vh;
  background-color: #e9ebf1;
}
main .main_mat .title {
  padding-top: 6%;
  text-align: center;
  color: #031d33;
}
main .main_mat .title p {
  font-size: 20px;
  padding-left: 2%;
  padding-bottom: 10px;
  transform: translateY(500%);
  animation: Mt_title_1 1s forwards;
}
@keyframes Mt_title_1 {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_mat .title h2 {
  font-size: 41px;
  font-weight: 700;
  font-family: "Montserrat";
  letter-spacing: -2px;
  transform: translateY(500%);
  animation: Mt_title_2 1s forwards;
}
@keyframes Mt_title_2 {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_mat .ele {
  display: flex;
  justify-content: space-between;
}
main .main_mat .ele .id2_left {
  position: relative;
}
main .main_mat .ele .id2_left figure {
  margin-top: 8%;
}
main .main_mat .ele .id2_left figure img {
  width: 720px;
  height: 280px;
  animation: mt_img_1 1.6s forwards ease-out;
}
@keyframes mt_img_1 {
  0% {
    transform: translateX(-500%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
  }
}
main .main_mat .ele .id2_left figcaption {
  padding-left: 26%;
}
main .main_mat .ele .id2_left figcaption h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}
main .main_mat .ele .id2_left figcaption h3 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 5px;
}
main .main_mat .ele .id2_left figcaption span {
  border-bottom: 2px solid black;
  width: 100px;
  display: inline-block;
}
main .main_mat .ele .id2_left figcaption p {
  font-size: 15.6px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 20px;
}
main .main_mat .ele .id2_left figcaption a {
  border: solid 1px black;
  font-size: 14px;
  text-decoration: none;
  color: #031d33;
  display: inline-block;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 12%;
}
main .main_mat .ele .circle {
  position: absolute;
  top: 67%;
  left: 55%;
  animation: circle 10s linear infinite;
}
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .main_mat .id2_right {
  position: relative;
}
main .main_mat .id2_right figure {
  margin-top: 8%;
}
main .main_mat .id2_right figure img {
  width: 720px;
  height: 280px;
  animation: mt_img_2 1.6s forwards ease-out;
}
@keyframes mt_img_2 {
  0% {
    transform: translateX(500%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
  }
}
main .main_mat .id2_right figure figcaption {
  text-align: end;
  padding-top: -10px;
  padding-right: 26%;
}
main .main_mat .id2_right figure figcaption h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}
main .main_mat .id2_right figure figcaption h3 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 5px;
}
main .main_mat .id2_right figure figcaption span {
  border-bottom: 2px solid black;
  width: 100px;
  display: inline-block;
}
main .main_mat .id2_right figure figcaption p {
  font-size: 15.6px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 20px;
}
main .main_mat .id2_right figure figcaption a {
  border: solid 1px black;
  font-size: 14px;
  text-decoration: none;
  color: #031d33;
  display: inline-block;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 12%;
}
main .main_mat .id2_right .circle_2 {
  position: absolute;
  top: 25%;
  left: 20%;
  animation: circle 10s linear infinite;
}
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .main_mat figcaption {
  animation: Mt_ele 1s forwards;
}
@keyframes Mt_ele {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
main .main_br {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main .main_br .br_bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}
main .main_br .br_left {
  position: absolute;
  top: 40%;
  left: 5%;
}
main .main_br .br_left h2 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 3%;
  transform: translateY(10%);
  animation: br_title_1 1s forwards;
  overflow: hidden;
}
@keyframes br_title_1 {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_br .br_left h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  transform: translateY(10%);
  animation: br_title_2 1s 0.2s forwards;
  overflow: hidden;
}
@keyframes br_title_2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_br .br_right {
  position: absolute;
  top: 40%;
  left: 73%;
}
main .main_br .br_right div {
  transform: translateY(10%);
  animation: br_title_3 1s 0.7s forwards;
  overflow: hidden;
}
@keyframes br_title_3 {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_br .br_right div p:nth-child(1) {
  font-family: "Noto Serif", serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px;
}
main .main_br .br_right div p:nth-child(2) {
  font-weight: 400;
  margin-bottom: 10%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
main .main_br .br_right div p:nth-child(2) a {
  margin-left: -20px;
  font-size: 16px;
}
main .main_br .br_bt {
  display: flex;
  flex-direction: column;
  transform: translateY(10%);
  animation: br_title_4 1s 1.1s forwards;
  overflow: hidden;
  width: 220px;
  z-index: 900;
}
@keyframes br_title_4 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_br .br_bt a {
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
main .main_br .br_bt a::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 15px;
  background: url("../img/illust/view.png") no-repeat;
  margin-left: 10px;
  margin-top: 10px;
}
main .main_br .ani {
  width: 544px;
  height: 544px;
  position: absolute;
  top: 23%;
  left: 36%;
}
main .main_br .ani .basmo, main .main_br .ani .br_cir {
  position: absolute;
  top: 0%;
  left: 0%;
}
main .main_br .ani .br_cir {
  animation: a_0 10s linear infinite;
}
main .main_br .ani .ob_1 {
  position: absolute;
  top: 13%;
  left: 67%;
  animation: a_1 5s linear infinite;
}
main .main_br .ani .ob_2 {
  position: absolute;
  top: 45%;
  left: 1%;
  animation: a_2 5s linear infinite;
}
main .main_br .ani .ob_3 {
  position: absolute;
  top: 74%;
  left: 68%;
  animation: a_3 5s linear infinite;
}
@keyframes a_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes a_1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes a_2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes a_3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .main_ev {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/ma_event.png);
  background-size: cover;
}
main .main_ev h2 {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 8%;
  transform: translateY(10%);
  animation: ev_title 1s forwards;
  overflow: hidden;
}
@keyframes ev_title {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_ev .ev_all {
  transform: translateY(10%);
  animation: ev_img 1s 0.5s forwards;
  overflow: hidden;
}
@keyframes ev_img {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(0%);
  }
}
main .main_ev .ev_all .sign :nth-child(1) {
  position: absolute;
  top: 45%;
  left: 14%;
}
main .main_ev .ev_all .sign :nth-child(2) {
  position: absolute;
  top: 45%;
  left: 84%;
}
main .main_ev .ev_all .ev_img {
  width: 1235px;
  height: 491px;
  margin: 0 auto;
  overflow: hidden;
}
main .main_ev .ev_all .ev_img figure {
  display: flex;
  margin: 0;
}
main .main_ev .ev_all .ev_img figure a img {
  width: 1235px;
}
main .main_ev .ev_all input:nth-of-type(1):checked ~ .ev_img > figure {
  transform: translateX(0%);
}
main .main_ev .ev_all input:nth-of-type(2):checked ~ .ev_img > figure {
  transform: translateX(-100%);
}
main .main_ev .ev_all input:nth-of-type(3):checked ~ .ev_img > figure {
  transform: translateX(-200%);
}
main .main_ev .ev_all input:nth-of-type(4):checked ~ .ev_img > figure {
  transform: translateX(-300%);
}
main .main_ev .ev_all .ev_bar {
  text-align: center;
  margin-top: 2%;
}
main .main_ev .ev_all .ev_bar progress {
  width: 1235px;
  height: 6px;
  margin: 0 auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main .main_ev .ev_all .ev_bar progress::-webkit-progress-bar {
  background-color: #fff;
  border: #fff;
}
main .main_ev .ev_all .ev_bar progress::-webkit-progress-value {
  background-color: #9c9c9c;
}
main .main_vd {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main_insta {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
main .main_insta div {
  height: 500px;
  padding-top: 20%;
  text-align: center;
  transform: translateY(10%);
  animation: int 5s forwards ease;
  overflow: hidden;
}
@keyframes int {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}
main .main_insta div h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #9c9c9c;
  font-family: "Montserrat";
}

.right {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 97%;
  top: 38%;
  position: fixed;
  z-index: 9999;
}
.right span {
  position: relative;
  border-right: solid 1px #fff;
  display: inline-block;
  height: 210px;
}
.right a {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  width: 7px;
  height: 7px;
}
.right a:nth-of-type(1)::after {
  content: "";
  position: absolute;
  text-align: center;
  display: inline-block;
  border: solid 1px #fff;
  border-radius: 100px;
  width: 35px;
  height: 35px;
  top: -15px;
  left: -15px;
  background-color: rgba(255, 255, 255, 0);
}
.right a:nth-of-type(2) {
  top: 35px;
}
.right a:nth-of-type(3) {
  top: 70px;
}
.right a:nth-of-type(4) {
  top: 105px;
}
.right a:nth-of-type(5) {
  top: 140px;
}
.right a:nth-of-type(6) {
  top: 175px;
}
.right a:nth-of-type(7) {
  top: 210px;
}

.chat {
  position: absolute;
  left: 95%;
  top: 90%;
  position: fixed;
  z-index: 9999;
}
.chat div a img {
  margin-right: 26px;
  width: 60px;
  height: 60px;
}

footer {
  font-family: "Montserrat";
  padding-top: 2.8%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 297px;
  background-color: #031d33;
  color: #fff;
}
footer .ft_left {
  width: 33%;
  display: flex;
}
footer .ft_left * a, footer .ft_left p {
  margin-left: 6px;
  font-weight: 500;
}
footer .ft_left img {
  width: 134px;
  height: 89px;
}
footer .ft_left div {
  padding-left: 3%;
  width: 700px;
}
footer .ft_left div span {
  padding-left: 2%;
  font-size: 14px;
}
footer .ft_left div span a {
  color: #fff;
  font-weight: 600;
  padding-left: 1%;
}
footer .ft_left div address {
  font-style: normal;
  font-size: 12px;
  margin: 6% 0;
}
footer .ft_left div address .ad_1 {
  margin-bottom: 5px;
}
footer .ft_left div address .ad_2 {
  margin-bottom: 5px;
}
footer .ft_left div address .ad_3 {
  margin-bottom: 5px;
}
footer .ft_left div address .ad_3 a {
  color: #fff;
}
footer .ft_left div address .ad_4 {
  margin-bottom: 5px;
}
footer .ft_left div p {
  padding-left: 4%;
  font-size: 12px;
  margin: 7% 0;
}
footer .ft_right {
  width: 30%;
}
footer .ft_right ul {
  display: flex;
}
footer .ft_right ul li {
  border-left: 1px solid #fff;
  padding: 2% 5%;
  font-weight: 400;
}
footer .ft_right ul li h4 {
  margin-bottom: 16%;
}
footer .ft_right ul li p {
  font-size: 14px;
  margin-bottom: 8%;
  line-height: 20px;
}
footer .ft_right ul li p .line {
  text-decoration: underline;
  font-size: 17px;
  font-weight: 700;
  font-family: "Noto Sans KR";
}
footer .ft_right ul li p a {
  color: #fff;
}