@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Serif&display=swap");
html, body {
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}