@import url("../css/reset.css");

.lounge_bg{
    width: 100;
    height: 100vh;
    background: url(../img/ch_img/standalone-pattern-bg.png) -25px -10px;
    background-size:25%;
}

.chat_bot{
    position: relative;
    position: fixed;
    top: 18%; left: 40.5%;
    width: 370px;
    height: 680px;
    border-radius: 30px;
    box-shadow: 1px 1px 50px rgba(49, 49, 49, 0.445);
    background-color: rgba(247, 247, 248, 0.9);
/*     opacity:0;
    transition: all 0.3s; */

    .ch_bg{filter: blur(30px);}
      
    .ch_contents{
        position: absolute;
        top: 0; left: 0;
        margin-left: 3.5%;

        .ch_header{
            display: flex;
            justify-content: space-between;
            padding:5% 3% 3% 3% ;
            h1{
            display: flex;
            font-size: 18px;
                img{width: 30px; height: 30px;
                    margin : 3px 8px 0 0;}
            }
            div{
                img{ margin-left: 15px;
                  cursor: pointer;
                opacity: 0.5;}
            }
        }
    
        .ch_main{ 
          .top_text{
            margin-bottom: 3%;
                p{
                color: rgba(0, 0, 0, 0.4);
                font-size: 15.5px;
                line-height: 25px;
                font-weight: 300;
                padding-left: 12px;
                }
            }  
            .ch_box_1{
              display: flex;
              align-items: center;
              flex-direction: column;
                width: 342px; height: 200px;
                margin: auto;
                border-radius: 15px;
                background-color: #fff;
                box-shadow:1px 1px 10px rgba(173, 173, 173, 0.671) ;
                .box_text{
                    display: flex;
                    margin: 5px 0 7px 0 ;
                    padding: 3% 3% ;
                    cursor: pointer;
                    width:97%;
                    img{width: 35px; height: 35px;}
                    div{width:95%;
                        h3{font-size: 13px;
                        padding: 0 15px ;}
                        p{
                        font-size: 15px; 
                        line-height: 20px;
                        color: #000;
                        font-weight: 200;}

                        P:nth-of-type(1)::after{
                            content: "";
                            background: url(../img/ch_img/blush.png) no-repeat;
                            width: 16px; height: 16px;
                            margin: 0px 0 0 2px;
                            display: inline-block;
                            background-size: contain;
                        }
                    }
                    &:hover{
                    background: rgb(245, 245, 245);
                    border-radius: 15px;
                    transition: 0.5s;
                }
                }
    
                .button{
                    width: 300px; height: 50px;
                    margin: 0 auto;
                    background: rgb(245, 245, 245);
                    box-shadow:1px 1px 10px rgba(173, 173, 173, 0.445) ;
                    border-radius: 20px;
                    cursor: pointer;
                    p{
                        color: #000;
                        text-align: center;
                        padding: 12px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        &::before{
                            content: "";
                            background: url(../img/ch_img/ch_svg/ch_object.svg) no-repeat;
                            width: 20px; height: 20px;
                            margin-right: 3px;
                            display: inline-block;
                            background-size: contain;
                        }
                    }
                }
                .button :hover{
                  box-shadow:1px 1px 10px rgba(173, 173, 173, 0.445) ;
                  border-radius: 20px;
                  transition: 0.5s;
                }

                .coment{
                    font-size: 11px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 8px;
                    padding: 0;
                    cursor: pointer;

                    &::before{
                        content: "";
                        background: url(../img/ch_img/ch_svg/chat-error-filled.svg) no-repeat;
                        width: 15px; height: 15px;
                        margin-right: 3px;
                        display: inline-block;
                        background-size: contain;
                    }
                }   
            }
            .ch_box_2{
                width: 342px; height: 60px;
                margin-top: 5%;
                padding: 5%;
                border-radius: 15px;
                background-color: #fff;
                box-shadow:1px 1px 10px rgba(173, 173, 173, 0.445) ;
                color: rgba(0, 0, 0, 0.4);
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                a{font-size: 13px; font-weight: 600;}

                span{
                    margin-top: 5px;
                    a{
                      padding-left: 10px;
                      overflow: hidden;
                      img{width: 36px; height: 36px;
                          border-radius: 15px;
                        }
                      }

                    .ic_hov{
                      .kakao{
                        position: absolute;
                        left: 55%;
                        display: inline-block;
                        text-align: center;
                        width: 45px; height: 25px;
                        background-color: #3f3f3f;
                        border-radius: 6px;
                        padding: 2px 2px;
                        color: #fff;
                        font-size: 12px;
                        font-weight: 200;
                        box-shadow:1px 1px 5px rgba(122, 122, 122, 0.445);
                        transition: 1s;
                        opacity: 0;
                      }
      
                      .naver{
                          position: absolute;
                          left: 70%;
                          display: inline-block;
                          text-align: center;
                          width: 45px; height: 25px;
                          background-color: #3f3f3f;
                          border-radius: 6px;
                          padding: 2px 2px;
                          color: #fff;
                          font-size: 12px;
                          font-weight: 200;
                          box-shadow:1px 1px 2px rgba(122, 122, 122, 0.445);
                          transition: 1s;
                          opacity: 0;
                        }
                    }


                      img:hover{
                        transform: scale(1.1);
                        transition: 0.5s;} 

                      .i-1:hover  .kakao{
                        opacity: 1;
                      }

                      .i-2:hover + .naver{
                        opacity: 1;
                      }
                }
              }
            }
        }
        .ch_footer{
            p{
            display: flex;
            justify-content: center;
            margin-top: 3%;
                a{
                color:rgba(0, 0, 0, 0.4);
                font-size: 11px;}
                &::before{
                    content: "";
                    background: url(../img/ch_img/ch_svg/talk_page.svg) no-repeat 0 1px;
                    opacity: 0.4;
                    width: 16px; height: 16px;
                    margin: 0px 0 0 2px;
                    display: inline-block;
                    background-size: contain;
                    margin-right: 3px;
                }
            }
            p:hover {color: #000;}
        }
    }