@import url("../css/reset.css");
@import "_m_reset";

body::-webkit-scrollbar 
{display: none;
-ms-overflow-style: none;}

main{
  .index{
    .spot_1{
      display: flex;
      position: relative;
      width: 100%;
      height: 100vh;
      figure{
        width: 100%;
        height: 100vh;
        img {width: 100%; height: 100%;
        object-fit: cover;}
      }
  
      div{
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          position: absolute;
          top: 25.1%;
          left: 10.7%;
          width: 560px; height: 500px;
          margin-bottom: 300px;
          overflow: hidden;
        
        p {
          font-size: 24px;
          font-weight: 400;
          border-bottom: 1px solid #fff;
          width: 335px;
          padding-bottom: 5px;
          margin-bottom: 20px;
          text-shadow: 3px 3px 10px rgba(0, 0, 0, 46%);
          color: #ffffff;
          transform: translateY(500%);
          animation: title_1 1s forwards; 
        }
        @keyframes title_1{
          0%{transform: translateY(500%)
            ;opacity: 0;}
          50%{opacity: 0.5;}
          100%{transform: translateY(0%);}
        }
  
        h2 {
          font-size: 50px;
          margin: 0;
          font-weight: 700;
          line-height: 70px;
          color: #ffffff;
          text-align: end;
          text-shadow: 3px 3px 10px rgba(0, 0, 0, 46%);
          transform: translateY(300%);
          animation: title_2 1s forwards; 
        }
        @keyframes title_2{
          0%{transform: translateY(300%)
            ;opacity: 0;}
          50%{opacity: 0.2;}
          100%{transform: translateY(0%);}
        }
      }
    }
  
    .spot_2{
  
      position: absolute;
      top: 0; left: 0;
  
      figure{
        display: flex;
        position: relative;
        width: 100%;
        height: 100vh;
        animation: fadein 7s infinite;
  
        @keyframes fadein {
          0% {opacity:0;}
        50% {opacity:1;}
        100% {opacity:0;}
        }
  
        img{width: 100%;
          object-fit: cover;}
        div
          { display: flex;
          align-items: flex-end;
          flex-direction: column;
          position: absolute;
          top: 25.1%;
          left: 10.7%;
          width: 560px; height: 190px;
          
          
          p
          {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 25px;
            border-bottom: 1px solid #fff;
            width: 336px;
            padding-bottom: 5px;
            text-shadow: 3px 3px 10px rgba(0, 0, 0, 46%);
            color: #ffffff;
            transition: 1s;
          }
          h2
          {font-size: 50px;
            margin: 0;
            font-weight: 700;
            line-height: 70px;
            color: #ffffff;
            text-align: end;
            text-shadow: 3px 3px 10px rgba(0, 0, 0, 46%);
            transition: 1s;
          }
        }
      }
    }
  
  
    .bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 90.5%; left: -2%; 
  
      div{
        padding-right:43.5%;
        z-index: 99;
  
            span{
              margin-left: 8px;
              background-color: rgba(255, 255, 255, 0.2);
              width: 55px;
              height: 5px;
              display: inline-block;
              cursor: pointer;
            
              &:hover{
                margin-left: 8px;
                background-color: #fff;
                width: 55px;
                height: 5px;
                display: inline-block;
                cursor: pointer;
              }
            }
          }
      }
  }

  .main_mat{
  width: 100%;
  height: 100vh;
  background-color: #e9ebf1;
    .title{
      padding-top: 6%;
      text-align: center;
      color: #031d33;
      p{font-size: 20px;
      padding-left: 2%;
      padding-bottom: 10px;
      transform: translateY(500%);
      animation: Mt_title_1 1s forwards; 
      }
      @keyframes Mt_title_1{
        0%{transform: translateY(500%)
          ;opacity: 0;}
        50%{opacity: 0.5;}
        100%{transform: translateY(0%);}
        }

      h2{
        font-size: 41px;
        font-weight: 700;
        letter-spacing: -2px;
        transform: translateY(500%);
        animation: Mt_title_2 1s forwards; 
      }

      @keyframes Mt_title_2{
        0%{transform: translateY(500%)
          ;opacity: 0;}
        50%{opacity: 0.5;}
        100%{transform: translateY(0%);}
      }
    }

  .ele{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .id2_left{position: relative;
      figure{margin-top:8%;
        img{
          width: 720px; height: 280px;
          animation: mt_img_1 1.6s forwards ease-out;
        }

        @keyframes mt_img_1{
          0%{transform: translateX(-500%)
            ;opacity: 0;}
          50%{opacity: 0.5;}
          100%{transform: translateX(0%);}
          }
        }
        figcaption{
          padding-left: 26%;
          h4{font-size: 22px;
            font-weight: 500;
          margin-bottom: 6px;}
          h3{font-size: 30px;
            font-weight: 700;
            padding-bottom: 5px;
          }
          span{
            border-bottom: 2px solid black;
            width: 100px;
            display: inline-block;}
          p{font-size: 15.6px;
          font-weight: 100;
          line-height: 28px;
          margin-top: 15px;
          margin-bottom: 20px;}
          a{border: solid 1px black;
            font-size: 14px;
            text-decoration: none;
            color: #031d33;
            display: inline-block;
            width: 135px; height: 38px;
            text-align: center;
            padding-top: 5px;
            margin-bottom: 12%;
          }
        }
      }
      .circle
      {position: absolute;
      top:67%; left: 55%;
      animation: circle 10s linear infinite;
      }
      @keyframes circle {
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
      }
    }
    
    .id2_right{
      position: relative;
      figure{margin-top:8%;
        img{
          width: 720px; height: 280px;
          animation: mt_img_2 1.6s forwards ease-out;
        }

        @keyframes mt_img_2{
          0%{transform: translateX(500%)
            ;opacity: 0;}
          50%{opacity: 0.5;}
          100%{transform: translateX(0%);}
          }

        figcaption{
          text-align: end;
          padding-top: -10px;
          padding-right: 26%;
          h4{font-size: 22px;
            font-weight: 500;
          margin-bottom: 6px;}
          h3{font-size: 30px;
            font-weight: 700;
            padding-bottom: 5px;
          }
          span{
            border-bottom: 2px solid black;
            width: 100px;
            display: inline-block;}
          p{font-size: 15.6px;
          font-weight: 100;
          line-height: 28px;
          margin-top: 15px;
          margin-bottom: 20px;}
          a{border: solid 1px black;
            font-size: 14px;
            text-decoration: none;
            color: #031d33;
            display: inline-block;
            width: 135px; height: 38px;
            text-align: center;
            padding-top: 5px;
            margin-bottom: 12%;
          }
        }
      }
      .circle_2
      {position: absolute;
      top:25%; left: 20%;
      animation: circle 10s linear infinite;
      }
    @keyframes circle{
      from{transform: rotate(0deg);}
      to{transform: rotate(360deg);}
        }
      }

      figcaption
      {animation: Mt_ele 1s forwards;
        @keyframes Mt_ele
        {
        0%{opacity: 0;
        transform: scale(0.8);}
        80%{opacity: 0.6;}
        100%{opacity: 1;}
        }
      }
    }

  .main_br{
    color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  .br_bg{img
    {object-fit:cover;
    width: 100%; height: 100vh;}
  }
  .br_left{
    position: absolute;
    top: 40%; left: 5%;
    h2{
      font-size: 42px;
      font-weight: 700;
      margin-bottom: 3%;
      transform: translateY(10%);
      animation: br_title_1 1s forwards; 
      overflow: hidden;
      }

      @keyframes br_title_1{
        0%{transform: translateY(50%)
          ;opacity: 0;}
        50%{opacity: 0.5;}
        100%{transform: translateY(0%);}
      }
    h3{
      font-size: 20px;
      line-height: 32px;
      font-weight: 300;
      transform: translateY(10%);
      animation: br_title_2 1s 0.2s forwards;
      overflow: hidden; 
    }
    @keyframes br_title_2{
      0%{transform: translateY(100%)
        ;opacity: 0;}
      50%{opacity: 0.5;}
      100%{transform: translateY(0%);}
    }

  }
  .br_right{
    position: absolute;
    top: 40%; left: 73%;
    div{
    transform: translateY(10%);
    animation: br_title_3 1s 0.7s forwards; 
    overflow: hidden;
    
    @keyframes br_title_3
    {
      0%{transform: translateY(50%)
        ;opacity: 0;}
      50%{opacity: 0.5;}
      100%{transform: translateY(0%);}
    }

      p:nth-child(1){
        font-family: 'Noto Serif', serif;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      p:nth-child(2){
        font-weight: 400;
        margin-bottom:10% ;
        text-align: center;
        display: flex;
        justify-content: space-around;
        a{margin-left: -20px;
          font-size: 16px;
          }
        }
      }

      .br_but{
        display: flex;
        flex-direction: column;
        transform: translateY(10%);
        animation: br_title_4 1s 1.1s forwards; 
        overflow: hidden;
        width: 220px;
        z-index: 900;
    
        @keyframes br_title_4
        {
          0%{transform: translateY(100%);opacity: 0;}
          50%{opacity: 0.5;}
          100%{transform: translateY(0%);}
        }
        a{
          font-size: 17px;
          text-decoration: none;
          color: #fff;
          cursor: pointer;
          
        }
        a::after{
          content: "";
          display: inline-block;
          width: 90px; height: 15px;
          background: url('../img/illust/view.png') no-repeat;
          margin-left: 10px;
          margin-top: 10px;
        }
      }
    }
.ani{
  width: 544px; height: 544px;
  position: absolute;
  top:23%; left:36%;
  .basmo,.br_cir{
    position: absolute;
    top:0%; left:0%;}

    .br_cir{ 
      animation: a_0 10s linear infinite;
    }

  .ob_1{
    position: absolute;
    top: 13%; left: 67%;
    animation: a_1 5s linear infinite;
  }
  .ob_2{
    position: absolute;
    top: 45%; left: 1%;
    animation: a_2 5s linear infinite;
  }
  .ob_3{
    position: absolute;
    top: 74%; left: 68%;
    animation: a_3 5s linear infinite;
  }

    @keyframes a_0{
      from{transform: rotate(0deg);}
      to{transform: rotate(360deg);}
      }

      @keyframes a_1{
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
        }

      @keyframes a_2{
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
        }

      @keyframes a_3{
        from{transform: rotate(0deg);}
        to{transform: rotate(360deg);}
        }
    }
  }

  .main_ev{
    position: relative;
    width: 100%; height: 100vh;
    background-image: url(../img/ma_event.png);
    background-size: cover;
    
    h2{
      font-size: 42px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      padding-top: 8%;
      transform: translateY(10%);
      animation: ev_title 1s forwards; 
      overflow: hidden;
      }
    @keyframes ev_title{
  0%{transform: translateY(50%);opacity: 0;}
  50%{opacity: 0.5;}
  100%{transform: translateY(0%);}
    }

    .ev_all{
      transform: translateY(10%);
      animation: ev_img 1s 0.5s forwards; 
      margin: 3% 0;

      @keyframes ev_img{
        0%{transform: translateY(50%);opacity: 0;}
        50%{opacity: 0.3;}
        100%{transform: translateY(0%);}
      }

      .sign{
        button:nth-child(1){
          background: url(../img/illust/prev01.png)no-repeat;
          width: 50px;
          height: 90px;
          border: none;
          position: absolute;
          top: 42%; left: 14%;
        }
        button:nth-child(2){
          background: url(../img/illust/next01.png)no-repeat;
          width: 50px;
          height: 90px;
          border: none;
          position: absolute;
          top: 42%; left: 84%;
        }
      }
  
      .ev_img{
          width: 66%;
          height: 100%;
          margin: 0 auto;
          overflow:hidden;
        figure{
          white-space: nowrap;
          margin:0;
          transition: 0.5s;
          a{img{width: 100%;}}
        }
        .ev_bar{
          text-align: center; margin-top: 2%;
          progress{
            width: 100%;
            height: 6px;
            margin: 0 auto;
            appearance: none;
          }
          progress::-webkit-progress-bar{
            background-color: #fff;
            border: #fff;
          }
          progress::-webkit-progress-value{background-color: #9c9c9c;}
        }
      }
    }
  }

  .main_vd{
    width: 100%; height: 100vh;
    object-fit: cover;
  }

  .main_insta{
    width: 100%; height: 100vh;
    background-color: #fff;
    div{
      height: 500px;
      padding-top: 20%; 
      text-align: center;
      transform: translateY(10%);
      animation: int 5s forwards ease; 
      overflow: hidden;
      
      @keyframes int{
  0%{transform: translateY(20%);opacity: 0;}
  50%{opacity: 1; transform: translateY(0%);}
  100%{transform: translateY(20%); opacity: 0;}
    }

      h3{
      margin-top: 10px;
      font-size: 22px;
      font-weight: 400;
      color: #9c9c9c;
      }
    }
  }
}

.right {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 97%;
    top: 38%;
    position: fixed;
    z-index: 9999;
    span {
      position: relative;
      border-right: solid 1px #fff;
      display: inline-block;
      height: 210px;
    }
    a {position: absolute;
      cursor: pointer;
      display: inline-block;
      background-color: #fff;
      border-radius: 10px;
      width: 7px; height: 7px;

        &:nth-of-type(1)::after{
          content: "";
          position: absolute;
          text-align: center;
          display: inline-block;
          border: solid 1px #fff;
          border-radius: 100px;
          width: 35px; height: 35px;
          top: -15px; left: -15px; background-color: #ffffff00;
          }
    }
a:nth-of-type(2){top: 35px;}
a:nth-of-type(3){top: 70px;}
a:nth-of-type(4){top: 105px;}
a:nth-of-type(5){top: 140px;}
a:nth-of-type(6){top: 175px;}
a:nth-of-type(7){top: 210px;}
}

  @import "_m_index";

