@import url("../css/reset.css");
@import "_m_reset";


main{
    
    .sub_serv{
        .serv_title{
            width: 100%;
            position: relative;
            img{width: 100%; height: 380px;
            object-fit: cover;}
            div{
                text-align: center;
                color: #fff;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, 0%);
                overflow: hidden;
                h2{font-size: 38px;
                    transform: translateY(200%);
                    animation: serv_title 0.5s forwards ease-out; 
                    }
                    @keyframes serv_title{
                        0%{transform: translateY(100%);opacity: 0;}
                        50%{opacity: 0.5;}
                        100%{transform: translateY(-10%);}
                    }
            }
        }

        .q_a{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 5%;
            color: #353535;
            a{text-align: center;
                img{width: 102px; height: 102px; box-shadow: 1px 1px 30px #8b8b8b6c ; border-radius: 30px;}
            }
            strong{font-size: 25px; margin: 2% 0 1% 0;}
            p{font-size: 15px;
            span{font-weight: 600;}
            span:nth-of-type(2){font-size: 13px;}}
            h2{font-size: 38px; margin-top: 5%}
        }

        .board_box{
            display: flex; justify-content: center;
            margin: 0 auto; padding: 0 0 10% 0;
            width: 70%;
        li{
            height: 60px; width: 100%; 
            text-align: center; padding-top: 15px;
            border: 1px solid #ddd;
            font-size: 18px;
            a{
                color: #000;
                display: inline-block;
                width: 100%; height: 60px; 
            }
        }
        li:nth-of-type(6){
            text-align: center; padding-top: 15px;
            font-size: 18px; background: #083b66;
            a{ color: #fff;
                width: 100%; height: 60px; }
            }

        }
    }

    .q_a_box{ width: 70%; margin: 0 auto;
        margin-bottom: 2%; padding: 0;
        border-top:2px solid #083b66 ; 
        li{
            font-size: 16px;
            color: #353535;
            display: block;

            span{
                border-bottom: 1px solid #ddd; 
                padding: 20px;
                display: flex;
                justify-content: space-between;
                a{
                    display: inline-block;
                    font-weight: 500 ;
                    text-align: center;
                    width: 78%;
                    img{
                    }
                }
                a:nth-of-type(1){width: 3%;}
                a:nth-of-type(2){width: 12%;}
                a:nth-of-type(3){
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 78%;
                    text-align: start;
                    color: #083b66 ;
                    cursor: pointer;
                 }
            }
            div{
                border-bottom: 1px solid #ddd;
                background: #f6f7f9;
                padding: 4%;
                display: none;
                img{margin-top: 3%;
                }
            }
        }
        li.active div{
            display: block;}
        li.active span a img{transform: rotate(180deg);}
    }

    .page{
        text-align: center ;
        margin: 0 auto;
        padding-bottom: 5%;
        font-size: 16px;
        font-weight: 700;
        a{
            border-bottom: 2px solid #495164;
            color: #031d33;
            display: inline-block;
            width: 15px;
        }
        a:nth-of-type(2),a:nth-of-type(3){display: none}
    }
}

@import "_m_sub_serv6";