@import url("../css/reset.css");
@import "_m_reset";


main{
    
    .sub_mat{
        .mat_title{
            width: 100%;
            position: relative;
            img{width: 100%; height: 380px;
            object-fit: cover;}
            div{
                text-align: center;
                color: #fff;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, 0%);
                overflow: hidden;
                h2{
                    font-size: 38px;
                    transform: translateY(200%);
                    animation: mat_title 0.5s forwards ease-out; 
                    }
                    @keyframes mat_title{
                        0%{transform: translateY(100%);opacity: 0;}
                        50%{opacity: 0.5;}
                        100%{transform: translateY(-10%);}
                    }
                    
                p{
                font-size: 18px;
                font-weight: 500;
                margin-top: 5%;
                transform: translateY(300%);
                animation: mat_title 0.5s 0.5s forwards ease-out; 
                }
            }
        }

        .mat_ele{
            transform: translateY(50%);opacity: 0;
            overflow: hidden;
            animation: mat_ele 1s .3s forwards; 
            @keyframes mat_ele {
                0%{transform: translateY(50%);opacity: 0;}
                50%{opacity: 0;}
                100%{opacity: 1;transform: translateY(0%);}
            }

            ul{ display: flex;
                align-items: center;
                padding: 5% 17% 3% 17%;
                gap: 2.5%;
                
                li{
                    figure{
                        width: 395px;
                        height: 395px;
                        a{
                            img{ width: 100%;
                                object-fit:cover ;}
                                img:hover{
                                    transform: scale(1.01);
                                    transform: translateY(-1px) translateX(-1px);
                                    transition: 1s;} 
                        }
                    }
                    p:nth-of-type(1){
                        font-size: 16px;
                        font-weight: 400;
                        color: #000;
                        opacity: 0.7;
                        margin: 10px 0 ;
                    }
                    p:nth-of-type(2){
                        letter-spacing: -1.4px;
                        margin: 40px 0 20px 0;
                        a{
                        margin-top: 10%;
                        font-size: 25px;
                        font-weight: 700;
                        color: #000;
                    }}
                    span{
                        a{
                        color: #0f4c82;
                        font-size: 30px;
                        font-weight: 800;
                        }
                        a:nth-of-type(2)
                        {color: #000;}
                    }
                    p:nth-of-type(3){
                        margin-top: 5px;
                        font-weight: 500 ;
                        font-size: 24px ;
                        color: #818181 ;
                        text-decoration: line-through;
                    }

                }
            }
        }

        .page{
            text-align: center ;
            margin: 0 auto;
            padding-bottom: 5%;
            font-size: 16px;
            font-weight: 700;
            a{
                border-bottom: 2px solid #495164;
                color: #031d33;
                display: inline-block;
                width: 15px;
            }
        }
    }

}

@import "_m_sub_mat";
