@import url("../css/reset.css");
@import "_m_reset";


main{
    .sub_event{
        .ev_title{
            width: 100%;
            position: relative;
            img{width: 100%; height: 380px;
            object-fit: cover;}
            div{
                text-align: center;
                color: #fff;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, 0%);
                overflow: hidden;
                h2{font-size: 38px;
                    transform: translateY(200%);
                    animation: ev_title 0.5s forwards ease-out; 
                    }
                    @keyframes ev_title{
                        0%{transform: translateY(100%);opacity: 0;}
                        50%{opacity: 0.5;}
                        100%{transform: translateY(-10%);}
                    }
                    
                p{
                font-size: 18px;
                font-weight: 500;
                margin-top: 5%;
                transform: translateY(300%);
                animation: ev_title 0.5s 0.5s forwards ease-out; 
                }
            }
        }
        ul{display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5% 0 1% 0;

            li{
                figure{
                    img{}
                    figcaption{
                        margin: 10px 0 50px 0;
                        font-size: 22px;
                        a{color: #2e2e2e;}
                    }
                }
            }
        }

        .page{
            text-align: center ;
            margin: 0 auto;
            padding-bottom: 8%;
            font-size: 16px;
            font-weight: 700;
            a{
                border-bottom: 2px solid #495164;
                color: #031d33;
                display: inline-block;
                width: 15px;
            }
        }
    }
}


@import "_m_sub_ev";