@import url("../css/reset.css");
@import "_m_reset";

main{
    .about{
        .br_title{
            width: 100%;
            position: relative;
            img{width: 100%; height: 380px;
            object-fit: cover;}
            div{
                text-align: center;
                color: #fff;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, 0%);
                overflow: hidden;
                h2{
                    font-size: 38px;
                    transform: translateY(200%);
                    animation: br_title 0.5s forwards ease-out; 
                }
                @keyframes br_title{
                    0%{transform: translateY(200%);opacity: 0;}
                    50%{opacity: 0.5;}
                    100%{transform: translateY(-10%);}
                }
                    
                p{
                font-size: 18px;
                font-weight: 500;
                margin-top: 5%;
                transform: translateY(200%);
                animation: br_title 0.5s 0.5s forwards ease-out; 
                }
            }
        }
    
        .about_top{
            position: relative;
            text-align: center;
            margin-top: 3%;
            height: 50em;
            overflow: hidden;
            img{width: 100%;}
            .ab_t{
                position: absolute;
                margin-top: 8.5%;
                top: 5%; left: 50%;
                transform: translate(-50%, 0%);
                opacity: 0;
                text-align: center;
                strong{font-size: 18px;
                font-weight: 700;
                color: #757575;
                }
                    h2{
                    padding-top: 5%;
                    font-size: 58px;
                    font-weight: 400;
                    }
                    span{
                        margin-top: 30px;
                        display: inline-block;
                        width: 30px;
                        border-top: solid 6px #000;
                    }
                    div{
                        margin-top: 5%;
                        font-size: 20px;
                        color: #666;
                        line-height: 36px;
                        p{
                            margin-top: 5%;
                            b{font-weight: 700;
                            }
                        }
                    }
                }
            .ab_t.active{animation: top 2s .5s forwards;}
            }  
            @keyframes top {
                0%{opacity: 0;}
                100%{opacity: 1;}
            }
        
        .about_middle{
            overflow: hidden;
            width: 100%; height: 100vh;
            background: url(../img/br/br03.jpg) -0px 350px no-repeat;
            background-size: contain;
            div{
            .br_sec_1{
                margin: 7% 0 0 17%;
                line-height: 450%;
                color: #031d33;
                opacity: 0;
                transform: translateX(-30%);
                h2{
                    font-size: 66px;
                    font-weight: 800;
                    letter-spacing: -2px;
                }
                p{font-size: 60px;
                    b{padding-left: 20px;
                        color: #031d33;}
                }
                p:nth-of-type(1){padding-left: 2%;}
            }
    
            .br_sec_2{
                margin-top: 1%;
                float: right;
                padding-right: 18%;
                opacity: 0;
                transform: translateX(30%);
                .box{
                    padding: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 800px; height: 120px;
                    background: #e5e8ea;
                    text-align: center;
                    div{
                        color: #353535;
                        p{font-size: 28px;
                        font-weight: 700;
                        margin: 0 10px;}
                        span{
                        font-size: 16px;
                        }
                    }
                    a{
                    font-size: 18px;
                    margin: 0 10px;
                    }
                }
    
                .br_text{
                font-size: 16px;
                    p{margin-top: 3%;
                        b{}
                    }
                    img{margin-top: 5%;}
                    }
                }
            }
        }  
        .about_middle.active div .br_sec_1{
            animation: sec_1 1s forwards;}
        @keyframes sec_1 {
            100%{opacity: 1;transform: translateX(0%);}
        }
            .about_middle.active div .br_sec_2{
                animation: sec_1 1s forwards;
        }
    }
    .about_bottom{
        background-color:#e7e7e7;
        width: 100%; height: 700px;
        padding-top: 6.5%;
        
        figure{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #fff;
            width: 65%; height: 450px ;
            margin: 0% auto;
            text-align: start;
            overflow: hidden;
            div{opacity: 0;
                p{ 
                font-size: 16px;
                color: #999;
    
                }
                h2{
                margin: 5% 0;
                font-size: 40px;
                font-weight: 300;}
                p:nth-of-type(2)
                {font-size: 16px;
                color: #666;
                line-height: 28px;
                font-weight: 500;
                font-family: "Noto Sans KR", sans-serif;
                }
                img{
                    opacity: 0;
                }
            }
            div:nth-child(1){transform: translateX(-5%);}
        }
        figure.active div{animation: sec_1 1s forwards;}
        figure.active div img{animation: sec_1 1s forwards;}
    }

@import "_m_sub_br";
}
.main.active .spot_1 figure div{ display: flex;}

@import "_m_sub_br";