@import url("../css/reset.css");

header{background-color: rgba(0,0,0,0.4) !important;}

main{
    .about{
        .br_title{
            width: 100%;
            position: relative;
            img{width: 100%; height: 380px;
            object-fit: cover;}
            div{
                font-family: 'Montserrat';
                text-align: center;
                position: absolute;
                color: #fff;
                top: 61%; left: 44.5%;
                h2{font-size: 38px;
                    transform: translateY(10%);
                    animation: br_title_1 1s forwards; 
                    overflow: hidden;}
                    @keyframes br_title_1{
                        0%{transform: translateY(50%);opacity: 0;}
                        50%{opacity: 0.5;}
                        100%{transform: translateY(0%);}
                    }
                    
                p{
                font-size: 18px;
                font-weight: 500;
                margin-top: 5%;
                transform: translateY(10%);
                animation: br_title_1 1s 0.5s forwards; 
                overflow: hidden;
                }
                @keyframes br_title_1{
                    0%{transform: translateY(50%);opacity: 0;}
                    50%{opacity: 0.5;}
                    100%{transform: translateY(0%);}
                }
            }
        }
    
        .about_top{
            position: relative;
            text-align: center;
            margin-top: 3%;
            img{width: 100%;}
            .ab_t{
                position: absolute;
                margin-top: 8.5%;
                top: 5%; left: 28%;
                text-align: center;
                strong{font-size: 18px;
                font-family: 'Montserrat';
                font-weight: 700;
                color: #757575;
                }
                    h2{
                    padding-top: 5%;
                    font-size: 58px;
                    font-weight: 400;
                    }
                    span{
                        margin-top: 30px;
                        display: inline-block;
                        width: 30px;
                        border-top: solid 6px #000;
                    }
                    div{
                        margin-top: 5%;
                        font-size: 20px;
                        color: #666;
                        line-height: 36px;
                        p{
                            margin-top: 5%;
                            b{font-weight: 700;
                            }
                        }
                    }
                }
            }  
        
        .about_middle{
            width: 100%; height: 90vh;
            background: url(../img/br/br03.jpg) -0px 240px no-repeat;
            background-size: contain;
            div{
            .br_sec_1{
                margin: 7% 0 0 17%;
                line-height: 450%;
                color: #031d33;
                h2{
                    font-family: 'Montserrat';
                    font-size: 66px;
                    font-weight: 800;
                    letter-spacing: -2px;
                }
                p{font-size: 60px;
                    b{padding-left: 20px;}
                }
                p:nth-of-type(1){padding-left: 2%;}
            }
    
            .br_sec_2{
                margin-top: 1%;
                float: right;
                padding-right: 18%;
                .box{
                    padding: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 800px; height: 120px;
                    background: #e5e8ea;
                    text-align: center;
                    div{
                        color: #353535;
                        p{font-size: 28px;
                        font-weight: 700;
                        font-family: 'Montserrat';
                        margin: 0 10px;}
                        span{
                        font-size: 16px;
                        }
                    }
                    a{
                    font-size: 18px;
                    margin: 0 10px;
                    }
                }
    
                .br_text{
                font-size: 16px;
                    p{margin-top: 3%;
                        b{}
                    }
                    img{margin-top: 5%;}
                    }
                }
            }
        }   
    }
    
    .about_bottom{
        background-color:#e7e7e7;
        width: 100%; height: 700px;
        padding-top: 6.5%;
        
        figure{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #fff;
            width: 65%; height: 450px ;
            margin: 0% auto;
            text-align: center;
            text-align: start;
            div{
                p{ 
                font-family: 'Montserrat';
                font-size: 16px;
                color: #999;
    
                }
                h2{
                margin: 5% 0;
                font-size: 40px;
                font-weight: 300;}
                p:nth-of-type(2)
                {font-size: 16px;
                color: #666;
                line-height: 28px;
                font-weight: 500;
                font-family: "Noto Sans KR", sans-serif;
                }
            }
        }
    }
}




